<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .fixed-width {
        width: 70px;
      }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const checkout_public_key = '{{ checkout_public_key }}';
    </script>
    <script src="{{ url_for('static', filename='script-no-ajax.js') }}"></script>
</head>
<body>
    <hr class="my-4">
    <a href="#" id="buy_now_btn" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
                <button type="submit">Checkout</button>
            </div>
        </div>
    </a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var stripe = Stripe(checkout_public_key); // Initialize Stripe with the public key

            const button = document.querySelector('#buy_now_btn');

            button.addEventListener('click', event => {
                event.preventDefault(); // Prevent default action of <a> tag
                fetch('/create-checkout-session', {
                    method: 'POST',
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
