<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .fixed-width {
            width: 250px; /* Changed to 250px inline */
        }
        .cart-section {
            margin: 0 auto;
            width: 33.33%;
            padding: 20px;
            background: linear-gradient(90deg, #0a0a0a, #1a1a1a);
            border-radius: 10px;
        }
        .gradient-background {
            background: linear-gradient(90deg, #0a0a0a, #1a1a1a);
        }
        .product-info {
            text-align: center;
            margin-top: 10px;
        }
      .fixed-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, #0a0a0a, #1a1a1a);
        padding: 15px;
        z-index: 1000;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    }

    .cart-wrapper {
        max-width: 500px;
        margin: 0 auto;
    }

    .cart-toggle {
        position: fixed;
        bottom: 100%;
        right: 20px;
        background: #0d6efd;
        color: white;
        border: none;
        padding: 5px 15px;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
    }

    .cart-content {
        max-height: 300px;
        overflow-y: auto;
    }

    /* Add padding to main content to prevent cart overlap */
    main {
        padding-bottom: 400px;
    }

    /* Style scrollbar for cart content */
    .cart-content::-webkit-scrollbar {
        width: 8px;
    }

    .cart-content::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .cart-content::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    .cart-content::-webkit-scrollbar-thumb:hover {
        background: #555;}
    </style>
    <script src="https://www.paypal.com/sdk/js?client-id=AaNX2rgoobFu-XwrA6vq0fNfOE5Zd4rDRdct70DEyz8MLL_I7KdCoO24CgbQwmzleqcaE2NGkurTCqY6&currency=GBP"></script>
</head>
<body class="bg-body-tertiary">
{% include "header.html" %}

<div class="container-fluid">
  <main>

    <h3 class="display-4" style="text-align: center; margin-bottom: 2rem; margin-top:40px;">Select Product and Quantity</h3>
    <br>

      <!-- Pimlico T-Shirt Section -->
<div class="row align-items-center mb-5">
  <!-- Dropdown Column -->
  <div class="col-md-6 text-center">
    <div class="d-flex flex-column align-items-center">
      <label class="form-check-label mb-2 fs-5" for="quantity-pimlico-l">Pimlico T Shirt - Large</label>
      <select class="form-select form-select-sm product-quantity fs-5 mb-4" id="quantity-pimlico-l" data-price="24.99" aria-label="Quantity for Pimlico T Shirt - Large" style="width: 250px;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <label class="form-check-label mb-2 fs-5" for="quantity-pimlico-xl">Pimlico T Shirt - XL</label>
      <select class="form-select form-select-sm product-quantity fs-5" id="quantity-pimlico-xl" data-price="24.99" aria-label="Quantity for Pimlico T Shirt - XL" style="width: 250px;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
<br>
       <label class="form-check-label mb-2 fs-5" for="quantity-pimlico-l">White Pimlico T Shirt - Large</label>
      <select class="form-select form-select-sm product-quantity fs-5 mb-4" id="quantity-pimlico-white-l" data-price="24.99" aria-label="Quantity for Pimlico T Shirt - Large" style="width: 250px;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    <br>
       <label class="form-check-label mb-2 fs-5" for="quantity-pimlico-l">White Pimlico T Shirt - X-Large</label>
      <select class="form-select form-select-sm product-quantity fs-5 mb-4" id="quantity-pimlico-white-xl" data-price="24.99" aria-label="Quantity for Pimlico T Shirt - Large" style="width: 250px;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <br>
       <label class="form-check-label mb-2 fs-5" for="quantity-pimlico-l">White Pimlico T Shirt - XX-Large</label>
      <select class="form-select form-select-sm product-quantity fs-5 mb-4" id="quantity-pimlico-white-xxl" data-price="24.99" aria-label="Quantity for Pimlico T Shirt - Large" style="width: 250px;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>



    </div>
  </div>

  <!-- Image Column -->
  <div class="col-md-6 text-center">
    <img src="static/assets/img/pimlico-t-shirt.jpg" class="img-fluid" alt="Pimlico T Shirt" style="width: 80%; max-width: 300px; height: auto;">
    <div class="product-info mt-3">
      <p class="fw-bold" style="font-size: 1.5rem;">Pimlico <br> T Shirt</p>
      <p style="font-size: 1.5rem;">Price: £24.99</p>
      <p style="font-size: 1.5rem;"><strong>Sizes:</strong> <br> Large <br> X-Large</p>
    </div>
  </div>
</div>
<br>
    <hr>

    <div class="container-fluid">
      <div class="row">
        <!-- T-shirt Dropdowns and Images -->
        <div class="col-md-6">
          <!-- T-shirt Dropdowns -->
          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-ginger-white-m">Ginger White T Shirt - Medium</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-ginger-white-m" data-price="24.99" aria-label="Quantity for Ginger White T Shirt - Medium" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-ginger-white-l">Ginger White T Shirt - Large</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-ginger-white-l" data-price="24.99" aria-label="Quantity for Ginger White T Shirt - Large" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-ginger-white-xl">Ginger White T Shirt - XL</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-ginger-white-xl" data-price="24.99" aria-label="Quantity for Ginger White T Shirt - XL" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <hr class="my-4">

          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-love-life-black-m">Love Life Misc. Black T Shirt - Medium</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-love-life-black-m" data-price="24.99" aria-label="Quantity for Love Life Misc. Black T Shirt - Medium" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-love-life-black-l">Love Life Misc. Black T Shirt - Large</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-love-life-black-l" data-price="24.99" aria-label="Quantity for Love Life Misc. Black T Shirt - Large" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="d-flex align-items-center mb-4 justify-content-center">
            <label class="form-check-label me-2 fs-5" for="quantity-love-life-black-xl">Love Life Misc. Black T Shirt - XL</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-love-life-black-xl" data-price="24.99" aria-label="Quantity for Love Life Misc. Black T Shirt - XL" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <!-- T-shirt Images -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <img src="https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_1.png" class="img-fluid" alt="Ginger White T Shirt">
              <div class="product-info">
                <p class="fw-bold" style="font-size: 1.5rem;">Ginger and Free <br> White T Shirt</p>
                <p style="font-size: 1.5rem;">Price: £24.99</p>
                <p style="font-size: 1.5rem;"><strong>Sizes:</strong> <br> Medium <br> Large <br> X-Large</p>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <img src="https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_2.png" class="img-fluid" alt="Love Life Misc. Black T Shirt">
              <div class="product-info">
                <p class="fw-bold" style="font-size: 1.5rem;">Love Life Misc. <br>Black T Shirt</p>
                <p style="font-size: 1.5rem;">Price: £24.99</p>
                <p style="font-size: 1.5rem;"><strong>Sizes: </strong> <br> Medium <br> Large <br> X-Large</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



      <hr class="my-4">
    <!-- Separate Container for New Poster -->
    <div class="container-fluid mt-5">
      <div class="row align-items-center">
        <!-- Dropdown Column -->
        <div class="col-md-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <label class="form-check-label mb-2 fs-5" for="quantity-misc-poster">Miscellaneous Ltd Edition Four Colour Poster</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="quantity-misc-poster" data-price="100" aria-label="Quantity for Miscellaneous Ltd Edition Four Colour Poster" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
          </div>
        </div>
        <!-- Image Column -->
        <div class="col-md-6 text-center">
          <a href="#" data-bs-toggle="modal" data-bs-target="#miscPostModal">
            <img src="static/assets/img/poster2.jpg" class="poster-image" alt="Miscellaneous Ltd Edition Four Colour Poster" style="width: 80%; max-width: 300px; height: auto;">
          </a>
          <div class="product-info mt-3">
            <p class="fw-bold" style="font-size: 1.5rem;">Miscellaneous Ltd Edition <br>Four Colour A1 Poster</p>
            <p style="font-size: 1.5rem;">Price: £100</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Misc Poster Zoom -->
    <div class="modal fade" id="miscPostModal" tabindex="-1" aria-labelledby="miscPostModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-0">
            <img src="static/assets/img/poster2.jpg" alt="Full Size Miscellaneous Ltd Edition Four Colour Poster" class="img-fluid w-100">
          </div>
        </div>
      </div>
    </div>

    <!-- Separate Container for Poster -->
<div class="container-fluid mt-5">
  <div class="row align-items-center">
    <!-- Dropdown Column -->
    <div class="col-md-6 text-center">
      <div class="d-flex flex-column align-items-center">
        <label class="form-check-label mb-2 fs-5" for="quantity-spirit-wife-poster">D.D Spirit Wife Poster</label>
        <select class="form-select form-select-sm product-quantity fs-5" id="quantity-spirit-wife-poster" data-price="40" aria-label="Quantity for D.D Spirit Wife Poster" style="width: 250px;">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <!-- Image Column -->
    <div class="col-md-6 text-center">
      <a href="#" data-bs-toggle="modal" data-bs-target="#posterModal">
        <img src="static/assets/img/poster.jpg" class="poster-image" alt="D.D Spirit Wife Poster" style="width: 80%; max-width: 300px; height: auto;">
      </a>
      <div class="product-info mt-3">
        <p class="fw-bold" style="font-size: 1.5rem;">D.D Spirit Wife Poster</p>
        <p style="font-size: 1.5rem;">Price: £40</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Poster Zoom -->
<div class="modal fade" id="posterModal" tabindex="-1" aria-labelledby="posterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <img src="static/assets/img/poster.jpg" alt="Full Size Poster" class="img-fluid w-100">
      </div>
    </div>
  </div>
</div>


     <!-- New Book -->
    <hr class="my-4">
    <!-- Separate Container for New Poster -->
    <div class="container-fluid mt-5">
      <div class="row align-items-center">
        <!-- Dropdown Column -->
        <div class="col-md-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <label class="form-check-label mb-2 fs-5" for="quantity-misc-poster">Magic Book</label>
            <select class="form-select form-select-sm product-quantity fs-5" id="book" data-price="30" aria-label="Quantity for Miscellaneous Ltd Edition Four Colour Poster" style="width: 250px;">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
          </div>
        </div>
        <!-- Image Column -->
        <div class="col-md-6 text-center">
            <img src="static/assets/img/book2.jpg" class="book-image" alt="book" style="width: 80%; max-width: 300px; height: auto;">
          </a>
          <div class="product-info mt-3">
            <p class="fw-bold" style="font-size: 1.5rem;">Magic Book </p>
            <p style="font-size: 1.5rem;">Price: £30</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="fixed-cart">
    <button class="cart-toggle" onclick="toggleCart()">Toggle Cart</button>
    <div class="cart-wrapper">
        <div class="cart-content">
            <h4 class="d-flex justify-content-between align-items-center mb-3 fs-4">
                <span class="text-primary">Your cart</span>
                <span class="badge bg-primary rounded-pill" id="cart-count">0</span>
            </h4>
            <ul class="list-group mb-3" id="cart-items">
                <!-- Cart items will be dynamically inserted here -->
            </ul>
            <li class="list-group-item d-flex justify-content-between">
                <span>Shipping Fee (GBP)</span>
                <strong id="shipping-fee">£3.00</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (GBP)</span>
                <strong id="cart-total">£0.00</strong>
            </li>
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>
  </main>

  {% include "footer.html" %}
</div>


<script>
function toggleCart() {
  const cartContent = document.querySelector('.cart-content');
  cartContent.style.display = cartContent.style.display === 'none' ? 'block' : 'none';
}

document.addEventListener('DOMContentLoaded', function () {
  const quantities = document.querySelectorAll('.product-quantity');
  const cartItems = document.getElementById('cart-items');
  const cartCount = document.getElementById('cart-count');
  const cartTotal = document.getElementById('cart-total');

  const standardShippingFee = 3.00;
  const posterShippingFee = 9.00;

  quantities.forEach(quantity => {
    quantity.addEventListener('change', updateCart);
  });

  function updateCart() {
    cartItems.innerHTML = '';
    let totalCount = 0;
    let totalPrice = 0.0;
    let includesPoster = false;

    quantities.forEach(quantity => {
      const qty = parseInt(quantity.value);
      if (qty > 0) {
        const price = parseFloat(quantity.getAttribute('data-price'));
        const itemTotal = qty * price;
        totalCount += qty;
        totalPrice += itemTotal;

        const item = document.createElement('li');
        item.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'lh-sm');
        const itemName = quantity.previousElementSibling.innerText;

        if (itemName.includes('Poster') || itemName.includes('Miscellaneous Ltd Edition Four Colour Poster')) {
          includesPoster = true;
        }

        let productImage = '';
        if (itemName.includes('Ginger White T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_1.png';
        } else if (itemName.includes('Love Life Misc. Black T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_2.png';
        } else if (itemName.includes('D.D Spirit Wife Poster')) {
          productImage = 'static/assets/img/poster.jpg';
        } else if (itemName.includes('Miscellaneous Ltd Edition Four Colour Poster')) {
          productImage = 'static/assets/img/poster2.jpg';
        } else if (itemName.includes('Magic Book')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/book3.jpg';
        } else if (itemName.includes('Pimlico T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/pimlico-t-shirt.jpg';
        }

        item.innerHTML = `
          <div class="d-flex">
            <img src="${productImage}" alt="${itemName}" class="cart-item-image" style="width: 50px; height: 50px; margin-right: 10px;">
            <div>
              <h6 class="my-0">${itemName}</h6>
              <small class="text-body-secondary">Quantity: ${qty}</small>
            </div>
          </div>
          <span class="text-body-secondary">£${itemTotal.toFixed(2)}</span>
        `;
        cartItems.appendChild(item);
      }
    });

    const shippingFee = includesPoster ? posterShippingFee : standardShippingFee;
    cartCount.innerText = totalCount;
    cartTotal.innerText = `£${(totalPrice + shippingFee).toFixed(2)}`;
    document.getElementById('shipping-fee').innerText = `£${shippingFee.toFixed(2)}`;
  }

  paypal.Buttons({
    createOrder: function (data, actions) {
      const items = getSelectedItems();
      const includesPoster = items.some(item => item.name.includes('Poster'));
      const shippingFee = includesPoster ? posterShippingFee : standardShippingFee;

      const totalAmount = items.reduce((sum, item) => sum + item.price * item.quantity, 0).toFixed(2);
      const finalAmount = (parseFloat(totalAmount) + shippingFee).toFixed(2);

      return actions.order.create({
        purchase_units: [{
          amount: {
            currency_code: "GBP",
            value: finalAmount,
            breakdown: {
              item_total: {
                currency_code: "GBP",
                value: totalAmount
              },
              shipping: {
                currency_code: "GBP",
                value: shippingFee.toFixed(2)
              }
            }
          },
          items: items.map(item => ({
            name: item.name,
            unit_amount: {
              currency_code: 'GBP',
              value: item.price
            },
            quantity: item.quantity,
            image_url: item.image_url
          }))
        }]
      });
    },
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        const buyerInfo = {
          name: details.payer.name.given_name + " " + details.payer.name.surname,
          email: details.payer.email_address,
          address: details.purchase_units[0].shipping.address.address_line_1,
          city: details.purchase_units[0].shipping.address.admin_area_2,
          postcode: details.purchase_units[0].shipping.address.postal_code,
          items: getSelectedItems()
        };

        fetch('/save-order', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(buyerInfo)
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            window.location.href = "/thanks";
          } else {
            alert("There was an issue saving your order. Please contact support.");
          }
        });
      });
    }
  }).render('#paypal-button-container');

  function getSelectedItems() {
    const selectedItems = [];
    quantities.forEach(quantity => {
      const qty = parseInt(quantity.value);
      if (qty > 0) {
        const itemName = quantity.previousElementSibling.innerText;
        let productImage = '';

        if (itemName.includes('Ginger White T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_1.png';
        } else if (itemName.includes('Love Life Misc. Black T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/tshirt_2.png';
        } else if (itemName.includes('D.D Spirit Wife Poster')) {
          productImage = 'https://github.com/ArthurMan100/DevantWebsite/blob/main/static/assets/img/poster_image.jpg';
        } else if (itemName.includes('Miscellaneous Ltd Edition Four Colour Poster')) {
          productImage = 'https://github.com/ArthurMan100/DevantWebsite/blob/main/static/assets/img/poster2.jpg';
        } else if (itemName.includes('Magic Book')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/book3.jpg';
        } else if (itemName.includes('Pimlico T Shirt')) {
          productImage = 'https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/main/static/assets/img/pimlico-t-shirt.jpg';
        }

        selectedItems.push({
          name: itemName,
          quantity: qty,
          price: parseFloat(quantity.getAttribute('data-price')),
          image_url: productImage
        });
      }
    });
    return selectedItems;
  }
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
