<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3  border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="static/assets/img/logo1.png"></use></svg>
        <span class="fs-4">Devant Offical</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/checkout" class="nav-link">Checkout</a></li>
      </ul>
    </header>
  </nav>
</body>
</html>