<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include "header.html" %}

    <!-- Main Content -->
    <!-- Hero -->
    <div class="px-4 pt-5 text-center border-bottom gradient-background mb-5">
    <h1 class="display-4 mb-4 glowing-title">Pimlico T Shirts Available Now</h1>
    <a href="/checkout">
        <img src="static/assets/img/pimlico-t-shirt.jpg" class="img-fluid shadow-lg mb-4" alt="Conclub Image" width="1000" height="500" loading="lazy">
    </a>
</div>


    <!-- T-Shirts -->
    <div class="container marketing">
        <h1 class="text-left my-5">T-SHIRTS AVAILABLE NOW</h1>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Ginger White T-Shirt</h2>
                <p class="lead">Available in Medium, Large and XL</p>
                <p class="lead fw-bold">Price: £24.99</p>
                <a href="/about" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-md-5">
                <img src="https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/40fb4c8133246d37ff4d38b94fb3d7f1eb94d1b4/static/assets/img/tshirt_1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Description of the image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 text-md-end">
                <h2 class="featurette-heading fw-normal lh-1">Love Life Miscellaneous Black T-Shirt</h2>
                <p class="lead">Available in Medium, Large and XL</p>
                <p class="lead fw-bold">Price: £24.99</p>
                <a href="/about" class="btn btn-primary">Learn More</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://raw.githubusercontent.com/ArthurMan100/DevantWebsite/40fb4c8133246d37ff4d38b94fb3d7f1eb94d1b4/static/assets/img/tshirt_2.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Description of the image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- Book Carousel -->
        <h1 class="text-center my-5">MAGIC BOOK AVAILABLE</h1>
        <h4 class="text-center">For the first time ever a handful of these magical book are available to order online.
We only have nine of this three colour lithograph book inspired by The vessel’s love of catalogues.</h4>
        <br>
        <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/assets/img/book_cover.jpg" class="d-block mx-auto w-75" style="max-height: 900px; object-fit: contain;" alt="Book Cover">
        </div>
        <div class="carousel-item">
            <img src="/static/assets/img/book1.jpg" class="d-block mx-auto w-75" style="max-height: 900px; object-fit: contain;" alt="Book Page 1">
        </div>
        <div class="carousel-item">
            <img src="/static/assets/img/book2.jpg" class="d-block mx-auto w-75" style="max-height: 900px; object-fit: contain;" alt="Book Page 2">
        </div>
        <div class="carousel-item">
            <img src="/static/assets/img/book3.jpg" class="d-block mx-auto w-75" style="max-height: 900px; object-fit: contain;" alt="Book Page 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
            <br>
            <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="/checkout">Buy now</a></p>
</div>


        <hr class="featurette-divider">

        <h1 class="text-center my-5">POSTERS AVAILABLE</h1>

        <div class="container mt-4">
            <h3>A1 Ltd edition four colour screen print</h3>
            <h4>We are over the moon to announce discovery of this delicious A1 Ltd edition four colour screen print created by the Vessel.
                The edition of The Butcher, The Baker and Candlestick Maker was made alongside the original Miscellaneous book.
                There are just four are available to buy for £100 plus £9 pp </h4>
            <br>

            <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="/checkout">Buy now</a></p>
            <br>

            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal2">
                <img src="/static/assets/img/poster2.jpg" alt="Second Poster" class="d-block w-100" style="object-fit: contain; height: 100%;">
            </a>
        </div>
        <br>

        <div class="container mt-4">
            <h3>A2 Ramsgate Music Hall concert screen-print</h3>
            <h4>A limited edition of ten posters for the Ramsgate Music Hall concert screen-printed and by The Vessel. Size A2</h4>
            <br>

            <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="/checkout">Buy now</a></p>
            <div class="carousel-container" style="width: 100%; padding: 0;">
                <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal">
                                <img src="/static/assets/img/poster.jpg" alt="Single Image" class="d-block w-100" style="object-fit: contain; height: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for poster1 -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <img src="static/assets/img/poster.jpg" alt="Full Size Image" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for poster2 -->
    <div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="imageModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <img src="static/assets/img/poster2.jpg" alt="Full Size Image 2" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
